<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    a {text-decoration: none}
  </style>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000">
<table role="none" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="50%">&nbsp;</td><td align="center">

<table id="JR_PAGE_ANCHOR_0_1" role="none" class="jrPage" data-jr-height="842" cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 595px; border-collapse: collapse; background-color: white;">
<style type="text/css">
  #JR_PAGE_ANCHOR_0_1 th {font-weight: normal;}
  #JR_PAGE_ANCHOR_0_1 ul {list-style-type: disc; padding-inline-start: 40px; margin: 0px;}
  #JR_PAGE_ANCHOR_0_1 ol {list-style-type: decimal; padding-inline-start: 40px; margin: 0px;}
</style>
<tr role="none" valign="top" style="height:0">
<td style="width:20px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:76px"></td>
<td style="width:3px"></td>
<td style="width:79px"></td>
<td style="width:59px"></td>
<td style="width:20px"></td>
<td style="width:79px"></td>
<td style="width:41px"></td>
<td style="width:38px"></td>
<td style="width:2px"></td>
<td style="width:20px"></td>
</tr>
<tr valign="top" style="height:20px">
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
</tr>
<tr valign="top" style="height:23px">
<td style="background-color: #006699; ">
</td>
<td colspan="3" rowspan="2" style="background-color: #006699; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #FFFFFF; font-size: 34px; line-height: 1.2578125; font-weight: bold;">TITLE</span></td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
</tr>
<tr valign="top" style="height:20px">
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td colspan="5" style="background-color: #006699; text-indent: 0px; text-align: right;">
<span style="font-family: SansSerif; color: #FFFFFF; font-size: 14px; line-height: 1.2578125;">Add a description here</span></td>
<td style="background-color: #006699; ">
</td>
</tr>
<tr valign="top" style="height:29px">
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
<td style="background-color: #006699; ">
</td>
</tr>
<tr valign="top" style="height:13px">
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:20px">
<td>
</td>
<td style="background-color: #E6E6E6; text-indent: 0px; text-align: center;">
<span style="font-family: SansSerif; color: #006699; font-size: 14px; line-height: 1.2578125; font-weight: bold;">id</span></td>
<td style="background-color: #E6E6E6; text-indent: 0px; text-align: center;">
<span style="font-family: SansSerif; color: #006699; font-size: 14px; line-height: 1.2578125; font-weight: bold;">stu_dob</span></td>
<td colspan="2" style="background-color: #E6E6E6; text-indent: 0px; text-align: center;">
<span style="font-family: SansSerif; color: #006699; font-size: 14px; line-height: 1.2578125; font-weight: bold;">stu_educati</span></td>
<td style="background-color: #E6E6E6; text-indent: 0px; text-align: center;">
<span style="font-family: SansSerif; color: #006699; font-size: 14px; line-height: 1.2578125; font-weight: bold;">stu_gender</span></td>
<td colspan="2" style="background-color: #E6E6E6; text-indent: 0px; text-align: center;">
<span style="font-family: SansSerif; color: #006699; font-size: 14px; line-height: 1.2578125; font-weight: bold;">stu_id</span></td>
<td style="background-color: #E6E6E6; text-indent: 0px; text-align: center;">
<span style="font-family: SansSerif; color: #006699; font-size: 14px; line-height: 1.2578125; font-weight: bold;">stu_name</span></td>
<td colspan="2" style="background-color: #E6E6E6; text-indent: 0px; text-align: center;">
<span style="font-family: SansSerif; color: #006699; font-size: 14px; line-height: 1.2578125; font-weight: bold;">stu_phone</span></td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:1px">
<td colspan="13" style="border-top: 1px solid #666666; ">
</td>
</tr>
<tr valign="top" style="height:52px">
<td>
</td>
<td colspan="11">
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:555px"></td>
</tr>
<tr valign="top" style="height:51px">
<td>
</td>
</tr>
<tr valign="top" style="height:1px">
<td style="pointer-events: auto; background-color: #FFFFFF; border-top: 1px solid #000000; ">
</td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:2px"></td>
</tr>
<tr valign="top" style="height:20px">
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">5</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">2022-07-19</span></td>
<td rowspan="2" style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">Bachelor of Information Technology</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">male</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">STU005</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">Pkar</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">&nbsp;95 asd</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:32px">
<td colspan="2">
</td>
<td colspan="5">
</td>
</tr>
</table>
</div>
</div>
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:52px">
<td>
</td>
<td colspan="11">
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:555px"></td>
</tr>
<tr valign="top" style="height:51px">
<td>
</td>
</tr>
<tr valign="top" style="height:1px">
<td style="pointer-events: auto; background-color: #FFFFFF; border-top: 1px solid #000000; ">
</td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:79px"></td>
<td style="width:2px"></td>
</tr>
<tr valign="top" style="height:20px">
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">6</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">2022-07-05</span></td>
<td rowspan="2" style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">Bachelor of Information Technology</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">male</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">STU006</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">Pkar</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 14px; line-height: 1.2578125;">+95 123q3</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:32px">
<td colspan="2">
</td>
<td colspan="5">
</td>
</tr>
</table>
</div>
</div>
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:579px">
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:13px">
<td>
</td>
<td colspan="9">
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:515px"></td>
</tr>
<tr valign="top" style="height:13px">
<td style="pointer-events: auto; background-color: #E6E6E6; text-indent: 0px; text-align: right;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Page 1 of</span></td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr role="none" valign="top" style="height:0">
<td style="width:100px"></td>
<td style="width:415px"></td>
</tr>
<tr valign="top" style="height:13px">
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">Tuesday 19 July 2022</span></td>
<td>
</td>
</tr>
</table>
</div>
</div>
</td>
<td colspan="2" style="background-color: #E6E6E6; text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">&nbsp;1</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:20px">
<td colspan="13">
</td>
</tr>
</table>

</td><td width="50%">&nbsp;</td></tr>
</table>
</body>
</html>
